{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [pc]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{port_specs, [
    {"priv/kcp_port", ["c_src/*.c"]}
]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -std=c99 -O3 -Wall -Wextra"},
    {"darwin", "LDFLAGS", "$LDFLAGS"},
    {"linux", "LDFLAGS", "$LDFLAGS"}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [kcp]}
]}.
